<div style ="background:white;margin-bottom:24px;padding:48px;">
   <ul class="gridder">
      <li class="gridder-list" data-griddercontent="#gridder-content-103">
         <div class="image" style="background-image: url('resources/plugins/images/3.jpg');">
            <div class="overlay">
               <span class="title">opportunityengine.io</span><br /><br />
               <span class="description">Web app built to fast-track the job hunting process, because it's not the 1985 any more</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-111">
         <div class="image" style="background-image: url('resources/plugins/images/11.png');">
            <div class="overlay">
               <span class="title">FENRIS Enterprise.com</span><br /><br />
               <span class="description">Next generation fabrication/engineering firm</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-108">
         <div class="image" style="background-image: url('resources/plugins/images/8.png');">
            <div class="overlay">
               <span class="title">advantageinsight.pro</span><br /><br />
               <span class="description">World-class Team Management Software</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-109">
         <div class="image" style="background-image: url('resources/plugins/images/9.png');">
            <div class="overlay">
               <span class="title">laercareerden.com</span><br /><br />
               <span class="description">First Product - Real Estate Management Software</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-101">
         <div class="image" style="background-image: url('resources/plugins/images/1.jpg');">
            <div class="overlay">
               <span class="title">twentytooclothing.com</span><br /><br />
               <span class="description">Custom clothing boutique, rare e-commerce assignment</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-102">
         <div class="image" style="background-image: url('resources/plugins/images/2.jpg');">
            <div class="overlay">
               <span class="title">betting portal</span><br /><br />
               <span class="description">Responsive custom gaming portal built for hrtgaming, forerunner to unified architecture</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-104">
         <div class="image" style="background-image: url('resources/plugins/images/4.jpg');">
            <div class="overlay">
               <span class="title">Telna Probe Manager</span><br /><br />
               <span class="description">Software suite used to test SIM Cards on in-house hardware deployed across the globe</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-105">
         <div class="image" style="background-image: url('resources/plugins/images/5.jpg');">
            <div class="overlay">
               <span class="title">Telna Network Status</span><br /><br />
               <span class="description">Software suite used to render real-time cellphone network status</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-106">
         <div class="image" style="background-image: url('resources/plugins/images/6.jpg');">
            <div class="overlay">
               <span class="title">latterdaymotorists.org</span><br /><br />
               <span class="description">.AFX Framework technology demonstrator. The idea stuck.</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-110">
         <div class="image" style="background-image: url('resources/plugins/images/10.png');">
            <div class="overlay">
               <span class="title">afrikanbeautiful.com</span><br /><br />
               <span class="description">Cosmetic/beauty assignment</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-107">
         <div class="image" style="background-image: url('resources/plugins/images/7.png');">
            <div class="overlay">
               <span class="title">Project TYRFING</span><br /><br />
               <span class="description">Prototype HUD, renders real-time telemetry data</span>
            </div>
         </div>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-content-112">
         <div class="image" style="background-image: url('resources/plugins/images/12.png');">
            <div class="overlay">
               <span class="title">Document Manager</span><br /><br />
               <span class="description">Robust document management software for Apogee Invent</span>
            </div>
         </div>
      </li>
   </ul>
   <div id="gridder-content-101" class="gridder-content">
      <img src="resources/plugins/images/1.jpg">
      <div class="description">
         <h2>twentytooclothing.com</h2>
         <br />
         <h3>Custom clothing boutique, rare e-commerce assignment</h3>
      </div>
   </div>
   <div id="gridder-content-102" class="gridder-content">
      <img src="resources/plugins/images/2.jpg">
      <div class="description">
         <h2>betting portal</h2>
         <br />
         <h3>Responsive custom gaming portal built for hrtgaming, forerunner to unified architecture.</h3>
      </div>
   </div>
   <div id="gridder-content-103" class="gridder-content">
      <img src="resources/plugins/images/3.jpg">
      <div class="description">
         <h2>opportunityengine.io</h2>
         <br />
         <h3>Web app built to fast-track the job hunting process, because it's not the 1985 any more.</h3>
      </div>
   </div>
   <div id="gridder-content-104" class="gridder-content">
      <img src="resources/plugins/images/4.jpg">
      <div class="description">
         <h2>Telna Probe Manager</h2>
         <br />
         <h3>Software suite used to test SIM Cards on in-house hardware deployed across the globe.</h3>
      </div>
   </div>
   <div id="gridder-content-105" class="gridder-content">
      <img src="resources/plugins/images/5.jpg">
      <div class="description">
         <h2>Telna Network Status</h2>
         <br />
         <h3>Software suite used to render real-time cellphone network status.</h3>
      </div>
   </div>
   <div id="gridder-content-106" class="gridder-content">
      <img src="resources/plugins/images/6.jpg">
      <div class="description">
         <h2>latterdaymotorists.org</h2>
         <br />
         <h3>.AFX Framework technology demonstrator. The idea stuck.</h3>
      </div>
   </div>
   <div id="gridder-content-107" class="gridder-content">
      <img src="resources/plugins/images/7.png">
      <div class="description">
         <h2>Project TYRFING</h2>
         <br />
         <h3>Prototype HUD, renders real-time telemetry data.</h3>
      </div>
   </div>
   <div id="gridder-content-108" class="gridder-content">
      <img src="resources/plugins/images/8.png">
      <div class="description">
         <h2>advantageinsight.pro</h2>
         <br />
         <h3>World-class Team Management Software.</h3>
      </div>
   </div>
   <div id="gridder-content-109" class="gridder-content">
      <img src="resources/plugins/images/9.png">
      <div class="description">
         <h2>laercareerden.com</h2>
         <br />
         <h3>First Product - Real Estate Management Software.</h3>
      </div>
   </div>
   <div id="gridder-content-110" class="gridder-content">
      <img src="resources/plugins/images/10.png">
      <div class="description">
         <h2>afrikanbeautiful.com</h2>
         <br />
         <h3>Cosmetic/beauty assignment</h3>
      </div>
   </div>
   <div id="gridder-content-111" class="gridder-content">
      <img src="resources/plugins/images/11.png">
      <div class="description">
         <h2>fenrisenterprise.com</h2>
         <br />
         <h3>Next generation fabrication/engineering firm</h3>
      </div>
   </div>
   <div id="gridder-content-112" class="gridder-content">
      <img src="resources/plugins/images/12.png">
      <div class="description">
         <h2>Document Manager</h2>
         <br />
         <h3>Robust document management software for Apogee Invent</h3>
      </div>
   </div>
</div>
<script>
 jQuery(document).ready(function ($) {
	 // Call Gridder
	 $(".gridder").gridderExpander({
		 scroll: true,
		 scrollOffset: 60,
		 scrollTo: "panel", // panel or listitem
		 animationSpeed: 400,
		 animationEasing: "easeInOutExpo",
		 showNav: true,
		 nextText: "<i class=\"fa fa-arrow-right\"></i>",
		 prevText: "<i class=\"fa fa-arrow-left\"></i>",
		 closeText: "<i class=\"fa fa-times\"></i>",
		 onStart: function () {
			 console.log("Gridder Inititialized");
		 },
		 onContent: function () {
			 console.log("Gridder Content Loaded");
			 $(".carousel").carousel();
		 },
		 onClosed: function () {
			 console.log("Gridder Closed");
		 }
	 });
 });
</script>