   <!--
<div class="row" style = "text-align:center;">
   <div class="col-md-12">
      <p style="letter-spacing:2px;text-align:center;font-size:24px;font-family:FFDINWebLight,sans-serif">Harvey Brooks</p>
      <img src="resources/plugins/images/harvey.jpg" style="width: 140px;height: 140px;border-radius: 87px;clear: both;-webkit-border-radius: 87px;-moz-border-radius: 87px;-ms-border-radius: 87px;-o-border-radius: 87px;">
      <p style="font-weight:bold;text-align:center;text-transform: uppercase;font-family: StratumWebBlack,sans-serif;">Chief Executive &amp; Software Architect</p>
      <p style="font-family:FFDINWebLight,sans-serif">Code everything, pay for everything, and make everyone look cooler.</p>
   </div>
   <div class="col-md-4">
      <p style="letter-spacing:2px;text-align:center;font-size:24px;font-family:FFDINWebLight,sans-serif">Palakana Baenchantha</p>
      <img src="resources/plugins/images/palakana.png" style="width: 140px;height: 140px;border-radius: 87px;clear: both;-webkit-border-radius: 87px;-moz-border-radius: 87px;-ms-border-radius: 87px;-o-border-radius: 87px;">
      <p style="font-weight:bold;text-align:center;text-transform: uppercase;font-family: StratumWebBlack,sans-serif;">Designer</p>
      <p style="font-family:FFDINWebLight,sans-serif">Design everything, and make it all less painful to use.</p>
   </div>
   <div class="col-md-4">
      <p style="letter-spacing:2px;text-align:center;font-size:24px;font-family:FFDINWebLight,sans-serif">Fabian Stamminger</p>
      <img src="resources/plugins/images/fabian.jpg" style="width: 140px;height: 140px;border-radius: 87px;clear: both;-webkit-border-radius: 87px;-moz-border-radius: 87px;-ms-border-radius: 87px;-o-border-radius: 87px;">
      <p style="font-weight:bold;text-align:center;text-transform: uppercase;font-family: StratumWebBlack,sans-serif;">Marketing Lead</p>
      <p style="font-family:FFDINWebLight,sans-serif">Basically tell the world we even exist, and keep everyone happy.</p>
   </div>
</div>
-->
<div class="row" style ="background:white;min-height:320px;">
   <div class = "col-md-12" style = "text-align:center;font-size:24px;font-family:FFDINWebLight,sans-serif;padding:32px;">
      <p>		
        We're always gunning after perfection--regardless of who you are, where you went to school, or what you did. What's good enough today will soon be considered obsolete relics as I continually hone our craft.
      </p>
	  <p>End result? You benefit from this mindset no matter the project, big or small.</p>
   </div>
</div>